{% extends 'index/base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5" style="margin-bottom: 100px">
    <div class="row">
      <div class="col-md-12">
        <h2>Crear un predio</h2>
        <form class="row mb-0" action="{{ request.get_full_path }}" method="post">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="col-md-6 form-group">
              <label style="width: 100%;" for="{{ field.auto_id }}">
                {{ field.label }} {% if field.field.required %}<small>*</small>{% endif %}
              </label>
              {{ field }}
              {% if field.errors %}
                <div class="alert alert-danger mt-2">
                  {% for error in field.errors %}
                    {{ error }}<br/>
                  {% endfor %}
                </div>
              {% endif %}
              {% if field.help_text %}
                <small>{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}
          <div class="col-12 form-group">
            <button class="button button-circle button-large button-sostenible m-0" type="submit" value="submit">Guardar
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}
{% block js %}
  <script>
      $(document).ready(function () {
          $('#id_name').parent().attr('hidden', 'hidden')
          $('#id_address').parent().attr('hidden', 'hidden')
          var type = $('#id_type').val()
          if (type === 'RURAL'){
              $('#id_name').parent().removeAttr('hidden')
              $('#id_address').parent().attr('hidden', 'hidden')
          }else if(type === 'URBANO'){
              $('#id_address').parent().removeAttr('hidden')
              $('#id_name').parent().attr('hidden', 'hidden')
          }
      })
      $('#id_type').change(function () {
          var type = $('#id_type').val()
          if (type === 'RURAL'){
              $('#id_name').parent().removeAttr('hidden')
              $('#id_address').parent().attr('hidden', 'hidden')
          }else if(type === 'URBANO'){
              $('#id_address').parent().removeAttr('hidden')
              $('#id_name').parent().attr('hidden', 'hidden')
          }
      })
  </script>
{% endblock %}

