{% extends 'index/base.html' %}
{% load static %}
{% load core_tags %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">

        <div class="row"
             style="margin-top: 25px;margin-bottom: 15px; justify-content: space-between; padding-left: 15px; padding-right: 15px">
          <h2>Gestiona tus predios</h2>
          <div class="">
            <a href="{% url 'estates:estate-create' %}" id="crear_predio"
               class="button button-3d button-rounded button ">Crear
              predio</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Dirección</th>
                  <th>Tipo</th>
                  <th>Cedula Catastral</th>
                </tr>
                </thead>
                <tbody>
                {% for object in object_list %}
                  <tr>
                    <td>{{ object.estate.name }}</td>
                    <td>{{ object.estate.address }}</td>
                    <td>{{ object.estate.type }}</td>
                    <td>{{ object.estate.cadastral_id }}</td>

                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="4" class="text-center">
                      No se encontraron resultados <br/>
                      <a href="{{ request.path }}">Ver todos los registros</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <!-- ======================== Pagination ===================== -->
            <ul class="pagination mt-5 pagination-circle justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link"
                     href="

                         {{ request.path }}{{ request|get_different_parameters:'page' }}page={{ page_obj.previous_page_number }}">
                    <i class="icon-angle-left"></i>
                  </a>
                </li>
              {% endif %}
              {% for p in pages %}
                <li class="page-item {% if p == current_page %}active{% endif %}">
                  <a class="page-link"
                     href="{{ request.path }}{{ request|get_different_parameters:'page' }}page={{ p }}">
                    {{ p }}
                  </a>
                </li>
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link"
                     href="{{ request.path }}{{ request|get_different_parameters:'page' }}{% comment %}
                     {% endcomment %}page={{ page_obj.next_page_number }}">
                    <i class="icon-angle-right"></i>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="modalUbicacionPredio" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header"><h5 class="modal-title">Ubicación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 modal_body_map">
              <div class="location-map" id="location-map">
                <div style="width: 600px; height: 400px;" id="map_canvas"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center align-items-center">
          <button data-dismiss="modal"
                  class="button button-circle button-large mt-3">cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
